body{
    background-color: #114B56;
}

.whitebkgnd{
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3%;
    padding: 5%;
    max-width: 90%;
    background-color: #f1f1f1;
    border-radius: 15px;
    height: 100%;

}

/************************Nav Bar Start**********************/

/*removes dots/bullet points from list*/
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*display nav horizontal*/
.nav ul li {
    display: inline-flex;
    flex-direction: row;
}

/*centers navbar buttons*/
.nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.nav ul li {
    margin-left: auto;
    margin-right: auto;
}

/*Nav bar background colour*/
.nav ul {
    background-color: #114B56;
}

/*nav background colour on hovering over button*/
.nav ul li:hover {
    background-color: #f1f1f1;
    text-emphasis-color: black;
}

/*nav background colour on selected button*/
.nav ul li:active {
    background-color: #f1f1f1;
    text-emphasis-color: black;
}

/*text colour and decoration inside nav buttons*/
.nav ul li a {
    display: inherit;
    color: white; /*text/link colour*/
    /*spaces of and between buttons*/
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none; /*text decoration none removes line under link on navbar*/
}

/* search box inside the navigation bar */
.nav ul input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 15px 50px;
}

/************************Nav Bar end**********************/



/******************* alert sidebar start********************/
.sidebar {
    margin: 1%;
    padding: 1%;
    width: 200px;
    background-color: #ffffff;
    height: 400px;
    overflow: auto;
    float: right;
}

/*******************alert sidebar end********************/


/****************Index Page Map***********mapouter******gmap_canvas************/
.map{
    position:relative;
    float: left;
    text-align:left;
    height:50px;
    max-width:50%;
}

.map {
    overflow:hidden;
    background:none!important;
    height:50px;
    max-width:50%;
}
/**********************Index page map end*******************/

/****************************Alert box start*******************/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

/****************************Alert box end*******************/