<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="icon" href="/static/image/favicon.png" type="image/gif" sizes="16x16">
</head>
<body>
    <!--nav bar-->
    <header class="header" id="header">
        <!--nav bar image-->
        <img src="static/image/Banniere.png" alt="Banner" width="100%" height="10%">
            <!--Nav Bar List-->
            <div class="nav" id="nav">
                <ul>
                    <li class="index"><a href="index">Home</a></li>
                    <li class="stations"><a href="stations">Stations</a>
                    <li class="getting-started"><a href="getting-started">Getting Started</a></li>
                    <li class="contact"><a href="contact">Contact</a></li>
                </ul>
            </div>
	</header>
    <!--nav bar end-->

    <!--main body of content-->
<div class="whitebkgnd" id="whitebkgnd"> 
    <div id="text" class="text">
        <pre>
        
        </pre>
    <p>Before you contact Dublin Bikes, have you looked through our <a href="getting-started">frequently asked questions</a>?</p>
    
         <pre>
        
        </pre>   
    <b>E-mail:</b> 
    
    <p>contactus@dublinbikes.ie</p> 
         <pre>
        
        </pre>   
    <b>Dublin Office:</b> 
    
    <p>01 424 7605</p>
          <pre>
        
        </pre>  
    <h3>Dublin Bikes Call Centre: </h3>
    
    <p>1850 777 070</p>
          <pre>
        
        </pre>  
    <b>Postal address:</b>

    <p>Just Eat dublinbikes</p>

    <p>JCDecaux Ireland Ltd</p>

    <p>Unit 2 Naas Road Industrial Park, Naas Road</p>

    <p>Dublin 12</p>
 </div>   
</div>
    
    <script src="static/js/main.js"></script>
        <footer class="footer"><p>Copyright 2019 - Enxi Cui, Jessica Butler and Marian Barry</p></footer>
</body>
</html>