<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="icon" href="/static/image/favicon.png" type="image/gif" sizes="16x16">
</head>
<body>
    <!--nav bar-->
    <header class="header" id="header">
        <!--nav bar image-->
        <img src="static/image/Banniere.png" alt="Banner" width="100%" height="10%">
            <!--Nav Bar List-->
            <div class="nav" id="nav">
                <ul>
                    <li class="index"><a href="index">Home</a></li>
                    <li class="stations"><a href="stations">Stations</a>
                    <li class="getting-started"><a href="getting-started">Getting Started</a></li>
                    <li class="contact"><a href="contact">Contact</a></li>
                </ul>
            </div>
	</header>
    <!--nav bar end-->

    <!--main body of content-->
<div class="whitebkgnd" id="whitebkgnd"> 
    <pre>
    Before you contact Dublin Bikes, have you looked through our <a href="getting-started">frequently asked questions</a>?
    
    
    <h3>E-mail:</h3> 
    
    contactus@dublinbikes.ie 
    
    <h3>Dublin Office:</h3> 
    
    01 424 7605
    
    <h3>Dublin Bikes Call Centre: </h3>
    
    1850 777 070
    
    <h3>Postal address:</h3>

    Just Eat dublinbikes

    JCDecaux Ireland Ltd

    Unit 2 Naas Road Industrial Park, Naas Road

    Dublin 12
    
    </pre>
</div>
    
    <script src="static/js/main.js"></script>
        <footer class="footer"><p>Copyright 2019 - Enxi Cui, Jessica Butler and Marian Barry</p></footer>
</body>
</html>