<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="icon" href="/static/image/favicon.png" type="image/gif" sizes="16x16">
</head>
<body>
    <!--nav bar-->
    <header class="header" id="header">
        <!--nav bar image-->
        <img src="static/image/Banniere.png" alt="Banner" width="100%" height="10%">
            <!--Nav Bar List-->
            <div class="nav" id="nav">
                <ul>
                    <li class="index"><a href="index">Home</a></li>
                    <li class="stations"><a href="stations">Stations</a>
                    <li class="getting-started"><a href="getting-started">Getting Started</a></li>
                    <li class="contact"><a href="contact">Contact</a></li>
                </ul>
            </div>
	</header>
    <!--nav bar end-->

    <!--main body of content-->
<div class="whitebkgnd" id="whitebkgnd"> 
        <h1>Getting Started</h1>
   <div class="text" id="text"> <p>
<pre>


</pre>     
    <p>Dublinbikes is a self-service bike rental system open to everyone from 14 years of age. It enables you to travel through the city centre, commute between home and work and get out and about to enjoy Dublin city at your leisure. </p>
<pre>


</pre> 
    <h4>Cost</h4>
    <p>You must have an account to rent a Dublinbike. These accounts can either be an annual account, or a 3-day ticket. Once purchased, you can use your 3 Day Ticket or Annual Card to rent or return a bike from any station in the network. The Annual Card costs €25, and the 3 Day Ticket costs €5. You can buy a 3 Day Ticket at stations with credit card terminals (Please note that Laser Maestro, VISA Electron debit card and cash are not accepted). You can also associate a Leap Card with the system, which can then be used instead of your Dublinbikes annual card. You must register for an Annual Card or associate your Leap Card online.</p>
    <p>The first 30 minutes of use is free on every bike. After this first half-hour, a service charge applies.</p>
<pre>

</pre> 
    <img src="/static/image/prices.png">
<pre>

</pre> 
    <p>If the bike is not returned within a 24 hour period, or the user fails to comply with the Terms & Conditions, a €150 penalty fee applies which needs to be provided up front when registering.</p>

<pre>


</pre> 
    <h4>Station Terminal</h4>
    <p>There is a terminal at every station. All terminals accept an Annual Card, an associated Leap Card or a 3 Day Ticket. A number of terminals have credit card facilities enabling you to purchase a 3 Day Ticket. Terminals at all stations allow you to: select a bike, consult your account, view availability of bikes and stands at other stations, check the station map, and locate a credit card enabled terminal.</p>
<pre>


</pre> 

    <h4>Stands </h4>
    <p>The stands are used to secure bikes by means of a locking system specifically designed for the service. When you return your bike, an audio signal of 2 beeps and green indicator light will confirm when you have successfully locked the bike into the stand. In the event of a problem, contact the Call Centre on 1850 777 070.</p>
<pre>


</pre> 

    <h4>Bikes </h4>
    <p>Dublinbikes have been uniquely designed for Dublin city, designed with you in mind. Comfort Unisex bikes suitable for all, 14 years and up. Features include simple and quick three gear change, adjustable cushioned saddle, large capacity durable front basket, non-slip handlebars, anti-splash front and rear mud guards, safety automatic rear and front lights, operating day and night reflective strips on wheels and pedals, front and rear brakes integrated in wheel hubs, chain guard, an easy to use bike rest, finger touch bell, and anti-theft lock. </p>

    <p>To hire a Dublinbike, log in at the terminal using your chosen annual card, associated leap card or your 3-day ticket. Enter your PIN and select an available bike on screen, you then have 60 seconds to press the unlocking button on the stand of the bike you have chosen. Once you have pressed the button you have 5 seconds to remove the bike from the stand.</p>

    <p>To return a Dublinbike simply locate the nearest station with available stands. An audio signal of 2 beeps and a green indicator light on the stand confirm that the bike is locked correctly and your usage is complete. If there are no available stands at the station, use the terminal to locate a nearby station with availability and Dublinbikes will give you 15 minutes free of charge to get there. Always check your bike is locked correctly. If your bike is not locked correctly, you will be held liable if it goes missing. If you are unable to lock your bike correctly please try again at another available stand, failing that contact the Call Centre at 1850 777 070. An advisor will handle your request.</p>


<pre>


</pre> 

<h1> Frequently Asked Questions</h1>
       
<pre>


</pre> 
    <ul>
    <li>What should I do if I lose my Leap Card?</li>
            <p>You will need to contact Leap Card for a replacement.</p>
            <p>https://about.leapcard.ie/card-replacement-refunds</p>
            <p>E: customer.care@leapcard.ie</p>
            <p>T: 1850 824 824 </p>

<pre>


</pre>
            
    <li>Are helmets provided?</li>
    <p>Just Eat dublinbikes does not provide helmets. If you wish to wear a helmet, you must bring this yourself. We recommend you are safety conscious at all times when cycling in Dublin. Road Safety Guidelines and advice can be found here: http://www.dublinbikes.ie/Safety/Road-Safety-Guidelines/Road-Safety-Guidelines. </p>

<pre>


</pre>
            
    <li>I have lost my PIN, what should I do?</li>
    <p>Holders of a Annual Card should go to the Just Eat dublinbikes website. You will be sent a new PIN by email. You can also telephone the Call Centre on 1850 777 070.</p>

<pre>


</pre>            
            
    <li>What should I do if the db or my card is lost or stolen?</li>
    <p>In the event of theft of the bike, go to a Garda station immediately to report the incident. Also notify the Call Centre on 1850 777 070 immediately and send a copy of your Garda report to the following address:</p>
            <p>JCDecaux Ireland Ltd</p>
            <p>Unit 2 Naas Road Industrial Park, Naas Road</p>
            <p>Dublin 12 </p>
    <p>If your Annual Card has been lost or stolen, contact the Call Centre who will deactivate your account.</p>

<pre>


</pre>            
    
    <li>What should I do if I have an accident with a Just Eat dublinbike?</li>
    <p>Notify the Call Centre on 1850 777 070 without delay. Until the bike has been locked at a stand, it remains under your liability. </p>

<pre>


</pre>            
    
    <li>What are the Terms and Conditions of use?</li>
    <p>The Terms and Conditions inform you of your rights and obligations when using the Just Eat dublinbikes service. Holders of the Annual Card are obliged to accept these terms and conditions to receive their personal card. These same Terms and Conditions are mandatory for holders of 3 Day Ticket subscriptions.</p>


<pre>


</pre>            
    
    <li>Can I have a Just Eat dublinbikes Annual Card and a Leap Card associated with my account at the same time?</li>
    <p>No. You can only have one card associated with your account at any given time, either a Just Eat dublinbikes Annual Card or a Leap Card.</p>


<pre>


</pre>            
    
    <li>How do I associate and use a Leap Card to access Just Eat dublinbikes?</li>
    <p>You can associate your Leap Card with Just Eat dublinbikes by subscribing using your credit card/debit card or via direct debit. Once your subscription has been processed and your account created, you will receive an email containing instructions on how to access Just Eat dublinbikes. You will need to scan your Leap Card at a Just Eat dublinbikes station terminal and follow the steps outlined in the email to associate your Leap Card. Once associated, your Leap Card will operate instead of your Just Eat dublinbikes annual card. Your Just Eat dublinbikes annual card will then become un-usable.</p>

<pre>


</pre>            
    
    <li>Can Just Eat dublinbikes affect the balance on my Leap Card e-purse?</li>
    <p>Just Eat dublinbikes has no access whatsoever to the e-purse on your Leap Card. You cannot make payments to Just Eat dublinbikes via your Leap Card. The card is used solely for identification purposes to identify the holder as the Just Eat dublinbikes account holder in conjunction with your PIN. Any queries in relation to your Leap Card Purse balance should be addressed to Leap Card Customer Care 1850 824 82.</p>

<pre>


</pre>            
    
    <li>How will my account be debited?</li>
    <p>Subscription for the 3 Day Ticket costs €5, which is debited from your account at the end of the subscription period. The Annual Card costs €25 and is taken from your credit card, or your bank account by direct debit. Please note that VISA Electron and Laser Maestro debit cards are not accepted.</p>

    <p>On subscription, you also authorise the provider to request a €150 guarantee from your account. This amount will not be debited unless the bike is not returned after a period of 24 hours. </p>

    <p>Both subscriptions allow you to rent a bike as many times as you wish during the period covered by your subscription. However, if you exceed the first half hour which is free, the service charge is debited at the end of the subscription period (in the case of the 3 Day Ticket), or monthly (in the case of the Annual Card).</p>

<pre>


</pre>            
    
    <li>How do I renew or cancel my Just Eat dublinbikes subscription?</li>
    <p>Annual Card holders will receive an email reminder before their subscription expires. It states that your subscription will automatically renew and the annual fee of €25 will be charged to your credit card or bank account. If you do not wish to automatically re-subscribe, please contact the Just Eat dublinbikes call centre on 1850 777 070 or contact us through the online form at www.dublinbikes.ie stating you do not want to re-subscribe. </p>

<pre>


</pre>            
    
    <li>How do I lock the bike?</li>
    <p>Each bike comes with an anti-theft lock (you can find it in the basket). It is always advised to lock your bike back into a stand at a station, however if you need to lock it for a short period, follow the steps below:</p>

    <ol><li>Take the wire lock out of the basket, wrap it around a fixed object.</li>
    <li>Place it in the holder, located beside the metal stand-lock.</li>
    <li>When correctly pushed in, a key is released (located on the right of the lock). To release the bike, put the key back in its holder and gently turn clockwise. This will release the wire lock and you can place it back in the basket.</li></ol>

    <p>The bike you rent is your responsibility until you lock it back into a stand.</p>

<pre>


</pre>            
    
    <li>How long do I have to wait before I can take another bike?</li>
    When you lock a bike back into a stand, you must wait 5 minutes before taking another. 
    Are the saddles adjustable?
    The saddles are adjustable and should be fixed to the correct height for you before you start your journey. Follow the steps below :
    <ol>
    <li>The lever to adjust the saddle is located just under the saddle</li>
    <li>Release the lever by pulling it back</li>
    <li>The saddle can now be moved up or down depending on the height you need</li>
    <li>Push the lever back fully to secure the saddle</li>
    <li>Even if the saddle is already at the correct height, release the lever and check it is under sufficient tension in that it should take reasonable force to reclose it. Rotating the circular thumbnut on the left hand side alters the tension on the lever making it easier or more difficult to close. This needs to be used to adjust the force required to close the lever to an appropriate level and to ensure the saddle will stay at the desired height.</li>
    </ol>

<pre>


</pre>            
    
    <li>Can I use a bike for more than one day?</li>
    <p>Just Eat dublinbikes allow you to rent a bike for no more than 24 hours. The system has been devised for short journeys and ensures that bikes are available for all to use. If you do not return your bike within 24 hours, the deposit of €150 is automatically debited from your credit card or bank account and Just Eat dublinbikes will seek to recover the bike.</p>

<pre>


</pre>            
    
    <li>How do the stations work?</li>
    <p>All stations are equipped for Annual Card and 3 Day Ticket use. Credit card enabled terminals allow you to purchase a 3 Day Ticket. Once purchased, you can use the 3 Day Ticket similar to the Annual Card to rent or return a bike from any station in the network.</p>

<pre>


</pre>            
    
    <li>The stand indicates that I have not returned my bike, even though I have. What should I do?</li>
    <p>When you return your bike to a station, an audio signal of 2 beeps and a green indicator light confirm that it has been locked. If this does not happen, try again. Otherwise, contact the Call Centre, giving the bike and stand number and which station you are at. An advisor will instruct you on the procedure to follow.</p>


<pre>


</pre>            
    
    <li>What’s the difference between my bike and a Just Eat dublinbikes?</li>
    <p>Just Eat dublinbikes have been designed for intense city usage. Their gear system has been designed to prevent any risk of chain misalignment and the cables are integrated in the bike frame. 
    They are equipped with an adjustable saddle and due to their design anyone can use them from 14 years of age, minimum height 1.5M. </p>


<pre>


</pre>            
    
    <li>What happens if I don’t return the bike before 12.30am?</li>
    <p>You can return your bike at any station 24 hours a day. However you cannot hire a bike between the hours of 12.30am and 5am.</p>

           </ul>
    </div>
</div>
    
    <script src="static/js/main.js"></script>
        <footer class="footer"><p>Copyright 2019 - Enxi Cui, Jessica Butler and Marian Barry</p></footer>
</body>
</html>