<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <!--nav bar-->
    <header class="header" id="header">
        <!--nav bar image-->
        <img src="images/Banniere.png" alt="Banner" width="100%" height="10%">
            <!--Nav Bar List-->
            <div class="nav" id="nav">
                <ul>
                    <li class="index"><a href="index.html">Home</a></li>
                    <li class="stations"><a href="stations.html">Stations</a>
                    <li class="route-planner"><a href="route-planner.html">Route Planner</a></li>
                    <li class="getting-started"><a href="getting-started.html">Getting Started</a></li>
                    <li class="contact"><a href="contact.html">Contact</a></li>
                    <li class="my-account"><a href="my-account.html">My Account</a></li>
                    <input type="text" placeholder="Search.." name="search">
                </ul>
            </div>
	</header>
    <!--nav bar end-->

    <div class="whitebkgnd" id="whitebkgnd"> 
        <h1>Getting Started</h1>
    </div>      
</body>
</html>