<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="icon" href="/static/image/favicon.png" type="image/gif" sizes="16x16">
</head>
<body>
    <!--nav bar-->
    <header class="header" id="header">
        <!--nav bar image-->
        <img src="static/image/Banniere.png" alt="Banner" width="100%" height="10%">
            <!--Nav Bar List-->
            <div class="nav" id="nav">
                <ul>
                    <li class="index"><a href="index">Home</a></li>
                    <li class="stations"><a href="stations">Stations</a>
                    <li class="route-planner"><a href="route-planner">Route Planner</a></li>
                    <li class="getting-started"><a href="getting-started">Getting Started</a></li>
                    <li class="contact"><a href="contact">Contact</a></li>
                    <li class="my-account"><a href="my-account">My Account</a></li>
                </ul>
            </div>
	</header>
    <!--nav bar end-->

    <!--main body of content-->
<div class="whitebkgnd" id="whitebkgnd"> 
        <h1>Getting Started</h1>
    <p>
    Just Eat dublinbikes is a self-service bike rental system open to everyone from 14 years of age. It enables you to travel through the city centre, commute between home and work and get out and about to enjoy Dublin city at your leisure.

All stations are equipped for Annual Card and 3 Day Ticket users. A number of credit card enabled terminals allow you to purchase a 3 Day Ticket. Once purchased, you can use the 3 Day Ticket similar to the Annual Card to rent or return a bike from any station in the network. Just Eat dublinbikes can also be accessed by using an associated Leap Card.

You can enjoy the many benefits of an Annual Card for just €25. A 3 Day Ticket costs €5. The first 30 minutes of use is free on every bike.

After this first half-hour, a service charge applies.
    
    </p>
    <p>
    Pricing structure
(18/07/2017)
You can access Just Eat dublinbikes through an Annual Card, an associated Leap Card or by choosing a 3 Day Ticket. The first half hour of use is free whichever subscription you use.


If your journey takes more than 30 minutes, a service charge applies which is debited from your Just Eat dublinbikes account if you have an Annual Card or associated Leap Card or from your credit card if you have selected a 3 Day Ticket.
    </p>
    <img src="/static/image/prices.png">
    <p>
    You can buy a 3 Day Ticket at stations with credit card terminals (Please note that Laser Maestro, VISA Electron debit card and cash are not accepted). This facility is available at a number of station terminals (see Station List ). Consult the terminal menu to obtain a short-term ticket that you will need to keep throughout the period covered by your subscription. This card contains an ID which you will need to enter each time you hire a bike, in addition to a PIN selected by you. It is important that you keep your ticket in the event that any issue may arise. You must agree to the Terms and Conditions.
    </p>
    <p>
    
Annual Card Holder
For just €25 per annum, you can enjoy all the benefits of Just Eat dublinbikes at the swipe of a card.
Subscribe

 Subscribe

With the Annual card, you pay €25 and can rent a bike whenever you want, all year round. The first half-hour of each journey is free; after that, the service charge varies depending on how long the bike is used.

You can also associate a Leap Card with the system, which can then be used instead of your Just Eat dublinbikes annual card.

Your Just Eat dublinbikes account

Using your Annual Card or your associated Leap Card is the quickest and easiest way to use Just Eat dublinbikes. When you scan your card at a station terminal, you can rent a bike and consult your account. You can also access your personal details in the "My Account" section at the terminal or online.

 

Registration

You must register for an Annual Card or associate your Leap Card online. During the registration process you can choose to pay your subscription either by credit card or by direct debit. Please note that VISA Electron and Laser Maestro debit cards are not accepted.

Annual Card registration / Leap Card association Click here.  

If you choose to subscribe by direct debit you will need to:

 

 Send proof of address (original utility bill within the last 3 months)
 Provide a parental authorisation for users under 18 years of age (the service is available to anyone over 14 years of age),
 Include a debit authority which will be used for the subscription (€25), monthly service charges, and a €150 guarantee* if the bike is not returned within any 24 hour period
 

Post to the following address:

Just Eat dublinbikes

JCDecaux Ireland Ltd

Unit 2 Naas Road Industrial Park, Naas Road

Dublin 12

 

* The guarantee is only debited in the event of failure to comply with the Terms & Conditions, or if the bike is not returned to a station within 24 hours.
    </p>
    
    
    <p>
    Station Terminal
(20/09/2016)
There is a terminal at every station. All terminals accept an Annual Card, an associated Leap Card or a 3 Day Ticket. A number of terminals have credit card facilities enabling you to purchase a 3 Day Ticket.
Terminals at all stations allow you to:

select a bike
consult your account
view availability of bikes and stands at other stations
check the station map
Locate a credit card enabled terminal
See a list of credit card enabled terminals that allow you to purchase a 3 Day Ticket. Remember you must subscribe online for an Annual Card or to associate your Leap Card.
        Avondale Road

Barrow Street**

 

Benson Street

 

Blackhall Place

 

Blessington Street**

 

Bolton Street 

 

Brookfield Road

Buckingham Street Lower

 

Cathal Brugha Street 

 

Charlemont Place

Charleville Road**

 

Clarendon Row

 

Christchurch Place 

 

City Quay

 

Clonmel Street

 

Collins Barracks Museum**

 

Convention Centre

 

Custom House** 

 

Custom House Quay

 

Dame Street** 

 

Denmark Street Great

 

Deverell Place

 

Earlsfort Terrace 

 

Eccles Street 

 

Eccles Street East

 

Emmet Road

 

Exchequer Street 

 

Excise Walk

 

Fenian Street

 

Fitzwilliam Square East**

 

Fitzwilliam Square West 

 

Francis Street**

 

Frederick Street South**

 

Fownes Street Upper 

George’s Lane

 

George's Quay 

 

Golden Lane 

 

Grand Canal Dock

Grangegorman Lower (South)

Grangegorman Lower (Central)**

Grangegorman Lower (North)

 

Grantham Street** 

 

Grattan Street

 

Greek Street 

 

Guild Street

 

Hanover Quay**

 

Harcourt Terrace 

 

Hardwicke Place**

 

Hardwicke Street 

 

Hatch Street

 

Herbert Place 

 

Herbert Street

 

Heuston Bridge (North)

 

Heuston Station (Car Park)

 

Heuston Station (Central)

 

Heuston Bridge (South)

 

High Street** 

 

James Street**

 

James Street East

 

Jervis Street**

 

John Street West

 

Kevin Street**

 

Kilmainham Gaol**

 

Kilmainham Lane

 

King Street North

 

Leinster Street South

 

Lime Street

 

Market Street South

 

Mater Hospital

 

Merrion Square East

Merrion Square South**

 

Merrion Square West**

 

Molesworth Street

 

Mount Brown

 

Mount Street Lower

Mountjoy Square East**

 

Mountjoy Square West

 

New Central Bank

 

Newman House

 

North Circular Road**

North Circular Road (O'Connell's)

 

Oliver Bond Street

 

Ormond Quay Upper**

 

Parkgate Street**

 

Parnell Street

 

Parnell Square North**

 

Pearse Street**

Phibsborough Road

 

Princes Street / O'Connell Street**

 

Portobello Road

 

Portobello Harbour

 

Rathdown Road 

Rothe Abbey**

 

Royal Hospital**

 

Sandwith Street**

 

Sir Patrick Dun's**

 

South Dock Road

 

St. James Hospital (Central)

 

St. James Hospital (Luas)

 

St. Stephen's Green East**

 

St. Stephen's Green South**

 

Smithfield

 

Smithfiled North**

 

Strand Street Great**

 

Talbot Street

 

The Point**

 

Townsend Street

 

Upper Sherrard Street

 

Western Way

 

Wilton Terrace**

Wilton Terrace (Park)**

 

Wolfe Tone Street

 

York Street (East)

 

York Street (West)
    </p>
    <p>
    Stands
(27/06/2014)
The stands are used to secure bikes by means of a locking system specifically designed for the service.
When you return your bike, an audio signal of 2 beeps and green indicator light will confirm when you have successfully locked the bike into the stand. In the event of a problem, contact the Call Centre on 1850 777 070.
    </p>
    
    <p>
    Bikes
(04/08/2017)
Just Eat dublinbikes have been uniquely designed for Dublin city, designed with you in mind.
Comfort

 

Unisex bikes suitable for all, 14 years and up
Simple and quick three gear change
Adjustable cushioned saddle
Large capacity durable front basket
Non-slip handlebars
Anti-splash front and rear mud guards
 

Safety

 

Automatic rear and front lights, operating day and night
Reflective strips on wheels and pedals
Front and rear brakes integrated in wheel hubs
Chain guard
Easy to use bike rest
Finger touch bell
Anti Theft Lock
    </p>
    
    
    <p>
    Hiring a Just Eat dublinbike
Log in at the terminal using your Just Eat dublinbikes Annual Card, associated Leap Card or your 3 Day Ticket.
Enter your PIN and select an available bike on screen, you then have 60 seconds to press the unlocking button on the stand of the bike you have chosen. Once you have pressed the button you have 5 seconds to remove the bike from the stand. 
    </p>
    
    <p>
    Returning a Just Eat dublinbike
When you have completed your journey simply locate the nearest station with available stands. An audio signal of 2 beeps and a green indicator light on the stand confirm that the bike is locked correctly and your usage is complete. If there are no available stands at the station, use the terminal to locate a nearby station with availability and Just Eat dublinbikes will give you 15 minutes free of charge to get there. 

Always check your bike is locked correctly. If your bike is not locked correctly, you will be held liable if it goes missing. If you are unable to lock your bike correctly please try again at another available stand, failing that contact the Call Centre at 1850 777 070. An advisor will handle your request. 
    </p>
    
    <h1>FAQ</h1>
    <p>
    What should I do if I lose my Leap Card?
You will need to contact Leap Card for a replacement. 
https://about.leapcard.ie/card-replacement-refunds, 
E: customer.care@leapcard.ie, 
T: 1850 824 824

How do I contact the call centre from outside of Ireland?
If you need to contact the Just Eat dublinbikes team please email contactus@dublinbikes.ie or call +353 (0) 1 424 7605

Are helmets provided?
Just Eat dublinbikes does not provide helmets. If you wish to wear a helmet, you must bring this yourself. We recommend you are safety conscious at all times when cycling in Dublin. Road Safety Guidelines and advice can be found here: http://www.dublinbikes.ie/Safety/Road-Safety-Guidelines/Road-Safety-Guidelines. 

I have lost my PIN, what should I do?
Holders of a Annual Card should go to the Just Eat dublinbikes website. You will be sent a new PIN by email. You can also telephone the Call Centre on 1850 777 070.

Is it necessary to take out public liability insurance to use Just Eat dublinbikes?
You are not insured by the provider to use Just Eat dublinbikes and you do so entirely at your own risk. We advise you to take out your own public liability insurance if you do not have such a policy already in place.

What should I do if the db or my card is lost or stolen?
In the event of theft of the bike, go to a Garda station immediately to report the incident. Also notify the Call Centre on 1850 777 070 immediately and send a copy of your Garda report to the following address:

JCDecaux Ireland Ltd
Unit 2 Naas Road Industrial Park, Naas Road
Dublin 12 

If your Annual Card has been lost or stolen, contact the Call Centre who will deactivate your account.
What should I do if I have an accident with a Just Eat dublinbike?
Notify the Call Centre on 1850 777 070 without delay. Until the bike has been locked at a stand, it remains under your liability. 
What are the Terms and Conditions of use?
The Terms and Conditions inform you of your rights and obligations when using the Just Eat dublinbikes service. Holders of the Annual Card are obliged to accept these terms and conditions to receive their personal card. These same Terms and Conditions are mandatory for holders of 3 Day Ticket subscriptions.

Are my personal details secure on the dublinbikes website?
The dublinbikes website protects your personal and confidential details; other web users will not have access to your subscription number or PIN if they try to log in after you.</p>
    
<p>
    Subscriptions
Find out more about the pricing structure, the guarantee and the subscription system in detail.

Can I have a Just Eat dublinbikes Annual Card and a Leap Card associated with my account at the same time?
What can I do to avoid ‘Card Clashes’?
Can I pay for my Just Eat dublinbikes membership card annual renewal, 3-day ticket and bike journey costs at www.leapcard.ie?
Will I use www.leapcard.ie for any service relating to Just Eat dublinbikes?
How do I associate and use a Leap Card to access Just Eat dublinbikes?
Can Just Eat dublinbikes affect the balance on my Leap Card e-purse?
How will my account be debited?
How do I associate and use a Leap Card?
When is the guarantee debited?
How do I pay for usage after the free half-hour?
Can I have a Just Eat dublinbikes Annual Card and a Leap Card associated with my account at the same time?
No. You can only have one card associated with your account at any given time, either a Just Eat dublinbikes Annual Card or a Leap Card.

What can I do to avoid ‘Card Clashes’?
When taking out a bike at a station terminal Just Eat dublinbikes card holders should hold their associated card (Bike-share membership card or LEAP Card) up to the card reader on its own, and not in a wallet or purse containing other cards to avoid potential ‘card clashes.’ Holding a purse or wallet up to the reader will likely result in a message saying that their subscription is not associated with their card and they will not be able to proceed due to interference from other cards. 
If a member is receiving this message even after removing their card from a wallet of purse, then they should contact the dublinbikes Call Centre on 1850 777 070.

Can I pay for my Just Eat dublinbikes membership card annual renewal, 3-day ticket and bike journey costs at www.leapcard.ie?
No. You will continue to use www.dublinbikes.ie to pay for all costs relating to usage and membership.

Will I use www.leapcard.ie for any service relating to Just Eat dublinbikes?
No. For convenience LEAP Card just allows you to use the one card for journeys taken on covered public transport modes and the bike-share scheme.

How do I associate and use a Leap Card to access Just Eat dublinbikes?
You can associate your Leap Card with Just Eat dublinbikes by subscribing using your credit card/debit card or via direct debit. Once your subscription has been processed and your account created, you will receive an email containing instructions on how to access Just Eat dublinbikes. You will need to scan your Leap Card at a Just Eat dublinbikes station terminal and follow the steps outlined in the email to associate your Leap Card. Once associated, your Leap Card will operate instead of your Just Eat dublinbikes annual card. Your Just Eat dublinbikes annual card will then become un-usable.

Can Just Eat dublinbikes affect the balance on my Leap Card e-purse?
Just Eat dublinbikes has no access whatsoever to the e-purse on your Leap Card. You cannot make payments to Just Eat dublinbikes via your Leap Card. The card is used solely for identification purposes to identify the holder as the Just Eat dublinbikes account holder in conjunction with your PIN. Any queries in relation to your Leap Card Purse balance should be addressed to Leap Card Customer Care 1850 824 82.

How will my account be debited?
Subscription for the 3 Day Ticket costs €5, which is debited from your account at the end of the subscription period. The Annual Card costs €25 and is taken from your credit card, or your bank account by direct debit. Please note that VISA Electron and Laser Maestro debit cards are not accepted.

On subscription, you also authorise the provider to request a €150 guarantee from your account. This amount will not be debited unless the bike is not returned after a period of 24 hours. 

Both subscriptions allow you to rent a bike as many times as you wish during the period covered by your subscription. However, if you exceed the first half hour which is free, the service charge is debited at the end of the subscription period (in the case of the 3 Day Ticket), or monthly (in the case of the Annual Card).

How do I associate and use a Leap Card?
You can associate your Leap Card with Just Eat dublinbikes by subscribing using your credit card/debit card or via direct debit. Once your subscription has been processed and your account created, you will receive an email containing instructions on how to access Just Eat dublinbikes. You will need to scan your Leap Card at a Just Eat dublinbikes station terminal and follow the steps outlined in the email to associate your Leap Card. Once associated, your Leap Card will operate instead of your Just Eat dublinbikes annual card. Your Just Eat dublinbikes annual card will then become un-usable.
When is the guarantee debited?
The guarantee (€150) is only debited in the event of theft or failure to return the bike within 24 hours. In the event of a problem, you can contact the Call Centre on 1850 777 070.
How do I pay for usage after the free half-hour?
If you have selected an Annual Card, your account will be debited once a month for any service charged incurred. 
If you opt for a 3 Day Ticket and you use Just Eat dublinbikes for more than half an hour per journey, the charge is automatically debited from your credit card at the end of the subscription period.
    
    What is the difference between the subscription charge and the service charge?
When you take out an Annual Card (€25), or 3 Day Ticket (€5), the first half-hour of every journey is free. After the first half hour, a service charge applies. See below for pricing structure :

SUBSCRIPTION FEES
Annual Card €25 
3 day ticket €5

A guarantee of €150 is required

BIKE HIRE FEES
First ½ Hour : free
1 hour : €0.50
2 hours : €1.50	
3 hours : €3.50	
4 hours : €6.50	
Every extra ½ Hour : €2

How do I renew or cancel my Just Eat dublinbikes subscription?
Annual Card holders will receive an email reminder before their subscription expires. It states that your subscription will automatically renew and the annual fee of €25 will be charged to your credit card or bank account. If you do not wish to automatically re-subscribe, please contact the Just Eat dublinbikes call centre on 1850 777 070 or contact us through the online form at www.dublinbikes.ie stating you do not want to re-subscribe. 
    </p>
    
    
    <p>
    Stations and bikes
What are stands at the stations for? How are the bikes locked? The FAQ provides you with information on the stations, their operation and the design of bikes.

What happens if a station is full and I can’t return my bike?
How do I lock the bike?
How long do I have to wait before I can take another bike?
Are the saddles adjustable?
How can I check the availability of stands and bikes at stations?
Can I use a bike for more than one day?
How do the stations work?
The stand indicates that I have not returned my bike, even though I have. What should I do?
When are you entitled to 30 free minutes?
What’s the difference between my bike and a Just Eat dublinbikes?
What happens if a station is full and I can’t return my bike?
Just Eat dublinbikes has become extremely popular since its launch in September 2009. As a result, some stations are busier than others and you may find that a station is full when you get there and you are unable to return the bike you have on rent. In this case, log in at the terminal with either your Annual Card or 3 Day Ticket and you will be given 15 minutes free of charge to get to the nearest station with available stands and a list of nearby stations with availability. There is also a map on the back of every terminal to help you find the closest or handiest station for you. 
How do I lock the bike?
Each bike comes with an anti-theft lock (you can find it in the basket). It is always advised to lock your bike back into a stand at a station, however if you need to lock it for a short period, follow the steps below:

- Take the wire lock out of the basket, wrap it around a fixed object.
- Place it in the holder, located beside the metal stand-lock.
- When correctly pushed in, a key is released (located on the right of the lock). To release the bike, put the key back in its holder and gently turn clockwise. This will release the wire lock and you can place it back in the basket.

The bike you rent is your responsibility until you lock it back into a stand.

How long do I have to wait before I can take another bike?
When you lock a bike back into a stand, you must wait 5 minutes before taking another. 
Are the saddles adjustable?
The saddles are adjustable and should be fixed to the correct height for you before you start your journey. Follow the steps below :

- The lever to adjust the saddle is located just under the saddle
- Release the lever by pulling it back
- The saddle can now be moved up or down depending on the height you need
- Push the lever back fully to secure the saddle
- Even if the saddle is already at the correct height, release the lever and check it is under sufficient tension in that it should take reasonable force to reclose it. Rotating the circular thumbnut on the left hand side alters the tension on the lever making it easier or more difficult to close. This needs to be used to adjust the force required to close the lever to an appropriate level and to ensure the saddle will stay at the desired height.

How can I check the availability of stands and bikes at stations?
There are 2 ways to check this. 

First is on the Just Eat dublinbikes station map online : http://www.dublinbikes.ie/All-Stations/Station-map

Secondly, for smart phone users, there is a free Just Eat dublinbikes application called AllBikesNow. (www.allbikesnow.com) 
Can I use a bike for more than one day?
Just Eat dublinbikes allow you to rent a bike for no more than 24 hours. The system has been devised for short journeys and ensures that bikes are available for all to use. If you do not return your bike within 24 hours, the deposit of €150 is automatically debited from your credit card or bank account and Just Eat dublinbikes will seek to recover the bike.

How do the stations work?
All stations are equipped for Annual Card and 3 Day Ticket use. Credit card enabled terminals allow you to purchase a 3 Day Ticket. Once purchased, you can use the 3 Day Ticket similar to the Annual Card to rent or return a bike from any station in the network.

The stand indicates that I have not returned my bike, even though I have. What should I do?
When you return your bike to a station, an audio signal of 2 beeps and a green indicator light confirm that it has been locked. If this does not happen, try again. Otherwise, contact the Call Centre, giving the bike and stand number and which station you are at. An advisor will instruct you on the procedure to follow.

When are you entitled to 30 free minutes?
The first half hour of every journey is free, after this a service charge applies. See Pricing Structure :

SUBSCRIPTION FEES
Annual card €25 
3 day ticket €5

A guarantee of €150 is required

BIKE HIRE FEES
First ½ Hour : free
1 hour : €0.50
2 hours : €1.50 
3 hours : €3.50 
4 hours : €6.50 
Every extra ½ Hour : €2

What’s the difference between my bike and a Just Eat dublinbikes?
Just Eat dublinbikes have been designed for intense city usage. Their gear system has been designed to prevent any risk of chain misalignment and the cables are integrated in the bike frame. 
They are equipped with an adjustable saddle and due to their design anyone can use them from 14 years of age, minimum height 1.5M. 
    
    How do I check that the bike is locked correctly?
When you have completed your journey simply locate the nearest station with available stands. An audio signal of 2 beeps and a green indicator light confirm that the bike is locked correctly and your usage is complete. If there are no available stands at the station, use the terminal to locate a nearby station with availability and Just Eat dublinbikes will give you 15 minutes free of charge to get there. 

If you are unable to lock the bike correctly please try again at another available stand, failing that contact the Call Centre at 1850 777 070. An advisor will handle your request. 
What happens if I don’t return the bike before 12.30am?
You can return your bike at any station 24 hours a day. However you cannot hire a bike between the hours of 12.30am and 5am.
    </p>
</div>
    
    <script src="static/js/main.js"></script>
</body>
</html>