<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="icon" href="/static/image/favicon.png" type="image/gif" sizes="16x16">
</head>
<body>
    <!--nav bar-->
    <header class="header" id="header">
        <!--nav bar image-->
        <img src="static/image/Banniere.png" alt="Banner" width="100%" height="10%">
            <!--Nav Bar List-->
            <div class="nav" id="nav">
                <ul>
                    <li class="index"><a href="index">Home</a></li>
                    <li class="stations"><a href="stations">Stations</a>
                    <li class="getting-started"><a href="getting-started">Getting Started</a></li>
                    <li class="contact"><a href="contact">Contact</a></li>
                </ul>
            </div>
	</header>
    <!--nav bar end-->

    <!--main body of content-->
<div class="whitebkgnd" id="whitebkgnd"> 
    
    <!--map-->   
    <input id="mapTraffic" type="button" value="Turn on Traffic" />
    <input id="mapBike" type="button" value="Turn on Bike Lanes" />
    <input id="mapW" type="button" value="Turn on Weather" />
    <div>
      <div id="map" class="map">
                <div id="weather_box">

        </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="static/js/GoogleMapsAPI.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChFqt0viVKUQkLpX0Fmnfj4W9yTj-7sew&callback=initMap"></script>
    <div id="weather-container" class="weather-container">
        <ul class="weather" id="weather">
        </ul>
    </div>
    
    
    <!--alerts side bar-->
     <div id="alerts-container" class="alerts-container">
         <h2>RoadwatchAlerts</h2>
        <ul class="alerts" id="aaslerts">
        </ul>
        <h2>DublinBikeAlerts</h2>
        <ul class="alerts" id="alerts">
        </ul>

    </div>
    
</div>
    
    <script src="static/js/main.js"></script>
</body>
</html>

