<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="icon" href="/static/image/favicon.png" type="image/gif" sizes="16x16">
</head>
<body>
    <!--nav bar-->
    <header class="header" id="header">
        <!--nav bar image-->
        <img src="static/image/Banniere.png" alt="Banner" width="100%" height="10%">
            <!--Nav Bar List-->
            <div class="nav" id="nav">
                <ul>
                    <li class="index"><a href="index">Home</a></li>
                    <li class="stations"><a href="stations">Stations</a>
                    <li class="route-planner"><a href="route-planner">Route Planner</a></li>
                    <li class="getting-started"><a href="getting-started">Getting Started</a></li>
                    <li class="contact"><a href="contact">Contact</a></li>
                    <li class="my-account"><a href="my-account">My Account</a></li>
                </ul>
            </div>
	</header>
    <!--nav bar end-->

    <!--main body of content-->
<div class="whitebkgnd" id="whitebkgnd"> 
        <h1>Station Page</h1>
</div>
    
    <script src="static/js/main.js"></script>
</body>
</html>